body{
    width:100%;
    height:100%;
    background: #FFFFFD;
    color: #5F5F5F;
    font-family: 'Work Sans', sans-serif;
}
h3{
    /* Mealtips_h3 */
    font-family: 'Work sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5F5F5F;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

/***********HEADER****************HEADER*********HEADER***********/
header{
    width: 100%;
    height:auto;
    display:flex;
    justify-content:center;
}
/**Container brand***/
.contBrand{ 
    position: static;
    display:flex;
    justify-content:center;
    align-items: baseline;
    gap:4px;
    height:auto;
    padding-top:2em;
}
/**Content Logo**/
.headerLogo{
    position:relative;
    width: 55px;
    height: 31px;
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    top: calc(50% - 20px);
}
.brandText{
    width: 148px;
    height: 54px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #5F5F5F;
}
/******MAIN********MAIN********MAIN******MAIN*******MAIN*********/

/******SECTION USER****/
.userSection{
    display:flex;
    justify-content:center;
    width: 100%;
    height: 132px;
    margin-top:1em;
}
    .userInfos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 169px;
        height: 116px;
        left: 17%;
    }
    .userProfilePic{
        position: static;
        width: 86px;
        height: 86px;
        left: 41.5px;
        top: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
    }
    .userName{
        
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        /* identical to box height, or 22px */
        display: flex;
        align-items: center;
        text-align: center;
    }

/****************NAV TABS**********NAV TABS****************NAV TABS****/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 100%;
}
.sectionConseil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 483px;
    left: 21px;
    top: 269px;
}
.tabs{
    position: static;
    display:flex;
    justify-content: center;
    gap:20px;
    width: 100%;
    height: 48px;
    margin: 20px 0px;
}
.btnTab{
    display:flex;
    justify-content:center;
    width:fit-content;
    height:20px;
}

/****CONTENT****/

.searchBar{
    height: 48px;
    width:280px;
    border: 1px solid #428A60;
    box-sizing: border-box;
    border-radius: 50px;
}
/****CARD PROFILES****/

/* Description */
.cardPro{
    width: 349px;
    height: 82px;
    display:flex;
    justify-content: center;
}
.contProfInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.txtProfInfo{
    position: static;
    width: 211px;
    height: 20px;
    left: calc(50% - 211px/2);
    top: calc(50% - 20px/2 + 12px);
    font-family: Work Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    color: #357377;
    mix-blend-mode: normal;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
/****CARD ARTICLES****/