*{
    font-family: 'Work Sans', sans-serif;
}
body{
    width:100%;
    height:100%;
    background: #FFFFFD;
    color: #5F5F5F;
    font-family: 'Work Sans', sans-serif;
}


/****HEADER****/
header{
    width: 100%;
}

.contBrand{
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: baseline;

    width: 208px;
    height: 54px;
    left: 17%;
    top: 47px;
}
.headerLogo{
    position: absolute;
    width: 55px;
    height: 31px;
    right: 155px;
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    top: calc(50% - 16px);
}
.brandText{
    position: absolute;
    width: 148px;
    height: 54px;
    left: 62px;
    top: 0px;

    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
/* identical to box height, or 54px */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #5F5F5F;
}

/****SECTION USER****/

.userSection{
    position: relative;
    width: 388px;
    height: 132px;
    left: 1px;
    top: 137px;

}
.userInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 169px;
    height: 116px;
    left: 17%;
}

.userProfilePic{
    position: static;
    width: 86px;
    height: 86px;
    left: 41.5px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.userName{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    text-align: center;
}
/****TABS****/
.sectionConseil{
    /* Fonctions */
position: relative;
width: 349px;
height: 550px;
left: 26px;
top: 278px;
}

.tabs{
    /* Tab_conseilInspiration */
position: relative;
display:flex;
justify-content:center;
gap:36px;
width: 328px;
height: 48px;
top: 150px;
}
/****CONTENT****/
/****CARD PROFILES****/
/****CARD ARTICLES****/