@font-face{
    font-family:"Fredoka One";
    src: url ("hetic-pmd-GONZALEZ-projet/Assets/Fonts/Fredoka_One/FredokaOne-Regular.woff2");
}

@font-face{
    font-family:"Lexend";
    src: url ("hetic-pmd-GONZALEZ-projet/Assets/Fonts/Lexend/Lexend-Bold.woff2","hetic-pmd-GONZALEZ-projet/Assets/Fonts/Lexend/Lexend-Medium.woff2", "hetic-pmd-GONZALEZ-projet/Assets/Fonts/Lexend/Lexend-Regular.woff2", "hetic-pmd-GONZALEZ-projet/Assets/Fonts/Lexend/Lexend-SemiBold.woff2");
}

body{
    width:100vw;
    height:100vh;
    background: #FFFFFD;
    color: #5F5F5F;
    font-family: 'Work Sans', sans-serif;
}
h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5F5F5F;
}
figcaption{
    display:none;
}

/***********HEADER****************HEADER*********HEADER***********/
header{
    width: 100%;
    height:auto;
    display:flex;
    justify-content:center;
}
/**Container brand***/
    .contBrand{ 
    position: static;
    display:flex;
    justify-content:center;
    align-items: baseline;
    gap:0.25rem;
    height:auto;
    padding-top:2rem;
    }
/**Content Logo**/
        .headerLogo{
    position:relative;
    width: 3.4rem;
    height: 2rem;
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    top: calc(50% - 20px);
        }
        .brandText{
    width: 148px;
    height: 54px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #5F5F5F;
        }

/**********NAV*************-NAV*****************NAV****/
.navSect{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:20px;
    width: 100%;
    margin-top:1.25rem;
}
    .contUserInfo{
    position:static;
    display:flex;
    justify-content:center;
    width: 100%;
    height: 132px;
    margin-top:1em;
    }
    .userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 169px;
    height: 116px;
    left: 17%;
    }
    .userProfilePic{
    position: static;
    width: 86px;
    height: 86px;
    left: 41.5px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    }
    .userName{

    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    }

/*************TABS*******/
    .menuSections input {
        display:none;
    }
    .menuSections{
        text-transform:uppercase;
        text-decoration:none;
    }
    .menuTabItem input:checked + label{
        text-transform:uppercase;
        text-decoration:underline;
        font-weight:600;
        color:#357377;
    }

/******MAIN********MAIN********MAIN******MAIN*******MAIN*********/

main{
        position:static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 100%;
}
/****SECTION CONSEIL****/
    .sectionConseil{/*Container section conseil*/
        display: none;
        flex-direction: column;
        align-items:center;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        gap:1.25rem;
        width: 90%;
    }
        .sectionTabTitle{
        display:none;
        /*ceci en desktop apparaîtra*/
        }
        .menuSections{
        display:flex;
        flex-grow:1;
        justify-content: center;
        gap:20px;
        }
/****CONTENT****/
    .searchBar{
        position:static;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        height: 2.5rem;
        width:280px;
        border: 1px solid #428A60;
        box-sizing: border-box;
        border-radius: 50px;
        padding:0.25rem;
    }
    .searchBar:focus-within{
        border: 2px solid #428A60;
    }
    .contLeftSearch{
        position:static;
        flex-grow:1;
        height:2rem;
        display:flex;   
        align-items:center;
        padding:0.5rem;
        gap: 0.3rem;
    }
    input{
        border:none;
        width:100%;
    }
    input:focus{
        outline:none;
    }
    input::placeholder{
        font-family:"Work Sans";
        font-size:0.875rem;
    }.contLeftSearch

/****CARD PROFILES****/
    .cardPro{/**Container card*/
        display:flex;
        justify-content:flex-start;
        height:auto;
        gap:0.25rem;
    }
        .contProfInfo{
            display: flex;
            flex-direction:column ;
            justify-content:center;
            align-items: flex-start;
        }
        .txtProfInfo{
            width:13rem;
            height:auto;
            display:flex;
            font-family: Work Sans;
            font-style: italic;
            text-align:left;
            font-weight: normal;
            font-size: 14px;
            color: #357377;
            mix-blend-mode: normal;
        }

/********SECTION INSPIRATION********/
.sectionInspi{/*Container section conseil*/
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    gap:1.25rem;
    width: 90%;
}
/****CARD ARTICLES****/
.cardArticle{/**Container card*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:auto;
    gap:1rem;
}
.prevArt{
    text-align:justify;
    display:flex;
    flex-wrap:none;

}
    /***CARD AUTHOR**/
    .cardAuthor{
        display:flex;
        flex-wrap: wrap;
        gap:0.25rem;
        min-width:13rem;
    }
    .contAuthorInfo{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
    }
    .txtAuthorInfo{
        width:13rem;
        height:auto;
        display:flex;
        font-family: Work Sans;
        font-style: italic;
        text-align:left;
        font-weight: normal;
        font-size: 14px;
        color: #357377;
        mix-blend-mode: normal;
    }
    .authorName{
        font-size:1rem;
        font-weight:500;
    }
